.header {
  background-color: #585252e7;
  top: 0;
  padding: 1px;
  text-align: center;
  font-family: fantasy;
  font-size: x-large;
  letter-spacing: 3px;
  position: fixed;
  width: 100%;
}

.header h2 {
  color: #f7f5fb;
}
